header {
  height: 8vh;
  width: 100vw;
}

header nav {
  width: 80%;
  padding: 1rem;
  margin: auto;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  flex: 3;
}

header h1 a {
  color: darkred;
  text-decoration: none;
}

header ul {
  flex: 1;
  list-style: none;
}

header ul li {
  font-size: 1.5rem;
  letter-spacing: .15rem;
}

header ul li a {
  color: #444;
  text-decoration: none;
  cursor: pointer;
}
