header {
  height: 8vh;
  width: 100vw;
  margin-bottom: 1rem;
}

header nav {
  width: 80%;
  padding: 1rem;
  margin: auto;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  flex: 3;
}

header h1 a {
  color: darkred;
  text-decoration: none;
}

header ul {
  flex: 1;
  list-style: none;
}

header ul li {
  font-size: 1.5rem;
  letter-spacing: .15rem;
  text-align: right;
}

header ul li a {
  color: #444;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 1.5rem;
    flex: 2;
  }

  header ul li {
    font-size: 1.15rem;
    letter-spacing: .15rem;
    text-align: right;
  }
}
