section {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-row: auto;
}

section div {
  border: .5px solid #eee;
  border-radius: 5px;
  padding: 4rem 1rem;
  text-align: center;
  background: #eee;
}

section div img {
  width: 100%;
}

section div h3 {
  font-size: 1.75rem;
  color: #444;
}

section div p {
  font-size: 1rem;
  color: #555;
}

section div.movies:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }
}
